html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

h1 {
  color: white;
  font-size: 2.5em;
  text-align: center;
  margin: 0.5em;
}

#main {
  /***background: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);***/
  color: white;
}

#weather-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#temperature {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 2em;
  display: flex;
  justify-content: center;
}

#weather-code {
  margin-top: 1em;
  font-size: 1em;
  display: flex;
  justify-content: center;
}

#weatherIcon {
  width: 30%;
  filter: brightness(0) invert(1);
}

#weather-description {
  margin-top: 0.25em;
  margin-bottom: 1em;
  font-size: 1.25em;
  text-align: center;
}

#my-location {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#add-location {
  margin-top: 2em;
  gap: 20px;
}

#latitude {
  border-radius: 8px;
  padding: 0.5em;
}

#longitude {
  border-radius: 8px;
  padding: 0.5em;
}

button {
  border-radius: 8px;
  padding: 0.75em;
  background-color: #f4c95d;
  font-size: 1em;
  font-weight: bold;
}

button[type='submit'] {
  margin-top: 1em;
}

.hidden {
  display: none;
}
